/fhirpkg.lock.json

# VS Code local history
.history/
fsh-generated/resources/ImplementationGuide-mii-ig-fall-de-2024.json
fsh-generated/resources/ImplementationGuide-mii-ig-fall-de-2025.json
fsh-generated/resources/ImplementationGuide-mii-ig-fall.json
.DS_Store
fsh-index.json
fsh-index.txt
menu.xml
fsh-link-references.md
index.html
_updatePublisher.sh
_updatePublisher.bat
_genonce.sh
_genonce.bat
_gencontinuous.sh
_gencontinuous.bat
template
temp
output
input-cache
ig.ini 
input/pagecontent/index.md 